nav.navbar-container {
  width: 60vw;
  height: 5rem;

  background: #ffc600;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  position: relative;
  
  margin-bottom: 30px;
  padding: 0px 3rem 0px 3rem;
}

.navbar-logo>a>img {
  width: 85%;
}

button.navbar-menu-button {
  background: none;
  border: none;
  display: flex;
}

button.navbar-menu-button>span{
  background: red;
  border-radius: 50%;

  font-size: 14px;
  font-weight: bold;
  margin-left: 3px;
  width: 16px;
}

button.navbar-menu-button>svg {
  font-size: 1.5rem;
  transition: all 0.2s ease-in;

}

button.navbar-menu-button>svg:hover {
  color: #707070;
}

div.navbar-shopping-cart {
  width: 60vw;

  position: absolute;
  top: 5rem;
  left: -0.3px;
  padding: 0px 3rem 0px 3.01rem;


  background: rgb(185, 155, 19);

}

ul.navbar-cart-value > div:first-child {
  margin-top: 8px;
}

ul.navbar-cart-value > div:last-child {
  margin-bottom: 8px;
}

ul.navbar-cart-value > div li:first-child {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

ul.navbar-cart-value > div {
  background: rgb(221, 184, 20);
  border-bottom: 4px solid  rgb(185, 155, 19);
  
  display: flex;
  flex-direction: row;

  align-items: flex-start;

  list-style-type: none;

  position: relative;
}

ul.navbar-cart-value>div>li>img{
  width: 8vw;
  margin: 1rem;
  border: 1px solid black;
}

li.navbar-product-info {
  width: 25vw;
  margin: 10px;
}

h4.navbar-shopping-title {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: calc(1rem - 2px);
}

h4.navbar-shopping-value {
  font-weight: 500;
  font-size: calc(1rem - 2px);
}

div.navbar-total-value-area {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}


div.navbar-total-value-area > div:first-child {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

div.navbar-total-value-area > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div.navbar-total-value-area > div:nth-child(2) > strong:nth-child(2) {
  display: block;
}




button.navbar-remove-item-button {
  background: none;
  border: none;
  
  position: absolute;
  right: 14px;
  margin-top: 1rem;

}