nav.navbar-container {
  width: 60vw;
  height: 5rem;

  background: #ffc600;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  position: relative;
  
  margin-bottom: 30px;
  padding: 0px 3rem 0px 3rem;
}

.navbar-logo>a>img {
  width: 85%;
}

button.navbar-menu-button {
  background: none;
  border: none;
}

button.navbar-menu-button>svg {
  font-size: 1.5rem;
}

div.navbar-shopping-cart {
  width: 60vw;

  position: absolute;
  top: 5rem;
  left: -0.4px;
  padding: 0px 3rem 0px 3.01rem;


  background: rgb(185, 155, 19);

}

ul.navbar-cart-value:first-child {
  border-top: 3px solid rgb(185, 155, 19);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

ul.navbar-cart-value {
  background: rgb(221, 184, 20);
  border-bottom: 4px solid  rgb(185, 155, 19);
  
  display: flex;
  flex-direction: row;

  align-items: flex-start;

  list-style-type: none;
}

ul.navbar-cart-value>li>img{
  width: 8vw;
  margin: 1rem;
  border: 1px solid black;
}

li.navbar-product-info {
  width: 25vw;
}

h4.navbar-shopping-title {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: calc(1rem - 2px);
}

h4.navbar-shopping-value {
  font-weight: 500;
  font-size: calc(1rem - 2px);
}

div.navbar-total-value-area {
  width: 60vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.navbar-subtotal-value {
  width: 60vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

div.navbar-total-value:nth-child(n+2) {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button.navbar-remove-item-button {
  position: absolute;
  left: 62vw;
  margin-top: 1rem;
}