.product-card-paper-container {
  margin-bottom: 4rem;
}

/* material-ui */
.MuiPaper-root {
  width: 100%;
}

ul.product-card-image-list-area {
  list-style-type: none;  
  float: left;

  padding: 0;
  margin: 0;
}

ul.product-card-image-list-area>div>li>a>img {
  width: 70%;

  cursor: pointer;

  padding: 0.4rem;
  margin-bottom: 0.4rem;
}

ul.product-card-image-list-area>div>li>a>img.active {
    border-radius: 1rem;
    border: 1px solid rgb(211, 199, 199);
}

ul.product-card-image-list-area>li>a>img:hover {
    border-radius: 1rem;
    border: 1px solid rgb(211, 199, 199);
} 

.product-card-active-image-area {
  width: 100%;
  max-width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-active-image-area>img {
  width: 80%;
  height: 100%;
}

div.product-card-better-price-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.product-card-heart-icon>svg {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 658px) {
  div.product-card-better-price-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

div.product-card-better-price-area>h3 {
  background: #3fb9ff;
  color: #fff;

  padding: 0.5rem;

  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

div.product-card-info-buy-area {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}


@media screen and (max-width: 944px) {
  div.product-card-info-buy-area {
    display: block;
  }

  button.product-card-cart-button {
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  span.product-card-installments {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span.product-card-large-value,
  span.product-card-installments-real {
    font-size: 1rem !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  
}

span.product-card-installments,
span.product-card-installments-real,
span.product-card-large-value,
span.product-cart-small-green-value
  {
  color: #18a136;
}

span.product-card-installments,
span.product-card-installments-real {
  font-size: 1.2rem;
  font-weight: 600;

  margin-top: 4px;
  margin-left: 6px;
}

span.product-card-installments-real {
  margin-right: 2px;
}

span.product-card-large-value {
    font-size: 1.5rem;
    font-weight: 1000;    
    
    margin-right: .4rem;
}

button.product-card-cart-button {

  background: #1bd142;
  color: #fff;

  width: 100%;

  padding: .3rem 0;
  border: none;
  border-radius: 0.4rem;

  font-size: .9rem;
  font-weight: 600;
}