header.home-container {
  width: 100%;
}

main.home-main-container {
  width: 65vw;

  margin: 0 auto; 
}

@media screen and (max-width: 480px) {
  main.home-main-container {
  width: 100%;
  margin: 0 auto;
  }
}
