body {
  margin: 0;
  padding: 0;
}

/* NAV BAR */
nav {
  width: 60vw;
  height: 5rem;

  background: rgb(253, 211, 21);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  position: relative;
  
  margin-bottom: 30px;
  padding: 0px 3rem 0px 3rem;
  border: 1px solid red;
}

.shoppingCart {
  width: 60vw;

  position: absolute;
  top: 5rem;
  left: -0.4px;
  padding: 0px 3rem 0px 3.01rem;


  background: rgb(185, 155, 19);

  border: 1px solid red;
}

.shoppingCartValues {
  background: rgb(236, 197, 19);
}

.shoppingCart>ul>li>img {
  width: 10vw;
}
/* END NAV BAR */

/* HEADER */
header {
  width: 65vw;
  height: 100vh;
  margin: 0 auto; 
}

ul {
  list-style-type: none;  
  float: left;
  padding: 0;
  margin: 0;
}

li>a>img {
  width: 50%;
  cursor: pointer;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
}

li>a>img.active {
    border-radius: 1rem;
    border: 1px solid rgb(211, 199, 199);
}

li>a>img:hover {
    border-radius: 1rem;
    border: 1px solid rgb(211, 199, 199);
} 

.paperContainer {
  margin-bottom: 4rem;
}

.activeImage {
  width: 20vw;
}
/* END HEADER */
